@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@300;400;500;600;700;800&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.gradient {
  font-weight: bold;
  background: linear-gradient(270deg, #211AEB 0%, #7C36FE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button{
  border-radius: 8px;
background: var(--Linear, linear-gradient(270deg, #211AEB 0%, #7C36FE 100%));
padding: 10px 30px;
text-transform: inherit;
}
*{
  font-family: "Plus Jakarta Sans"; 
}
pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  }
  
  pre code {
  color: inherit;
  white-space: break-spaces;
  padding: 0;
  background: none;
  font-size: 0.8rem;
  }

  @layer base {
    h1 {
      @apply text-4xl font-bold leading-10;
    }
    h2 {
      @apply text-3xl font-bold leading-10;
    }
    h3 {
      @apply text-2xl font-bold leading-10;
    }
    h4 {
      @apply text-xl font-bold leading-10;
    }
    h5 {
      @apply text-lg font-bold leading-10;
    }
    h6 {
      @apply text-[16px] font-bold leading-10;
    }
  }
  .blog-content > * + * {
    margin-top: 0.75em;
    }